.img-clip
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 0;
    
    canvas
        display: block;
    
    .magnifier
        position: absolute;
        top: -90px;
        right: 0;
        /**
         * 显示的值，真实的宽高内部会设置
         */
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid #fff;
     
    .clip-hidden
        display: none;
     
    .clip-rect
        position: absolute;
        border: 1px dashed #de3c50;
        top: 10px;
        left: 10px;
        width: 100px;
        height: 100px;
        cursor: move;
        
        .clip-tips
            position: absolute;
            top: -40px;
            left: 0;
            padding: 5px;
            font-size: 13px;
            background-color: #333333;
            border-radius: 5px;
            color: #fff;
            
    .clip-rect-horn
        position: absolute;
        display: block;
        background-color: rgba(222, 60, 80, .7);
        border-radius: 50%;
        width: 20px;
        height: 20px;
        
    .horn-n
        top: -10px;
        left: 50%;
        margin-left: -10px;
        cursor: n-resize;
        
    .horn-s
        bottom: -10px;
        left: 50%;
        margin-left: -10px;
        cursor: s-resize;
        
    .horn-w
        top: 50%;
        left: -10px;
        margin-top: -10px;
        cursor: w-resize;
        
    .horn-e
        top: 50%;
        right: -10px;
        margin-top: -10px;
        cursor: e-resize;
    
    .horn-nw
        top: -10px;
        left: -10px;
        cursor: nw-resize;
    
    .horn-ne
        top: -10px;
        right: -10px;
        cursor: ne-resize;
    
    .horn-sw
        bottom: -10px;
        left: -10px;
        cursor: sw-resize;
    
    .horn-se
        bottom: -10px;
        right: -10px;
        cursor: se-resize;
     