body {
    background: #000;
}

.upload-container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -57px;
    margin-top: -57px;
}


/**
 * 文件选择按钮美化
 */

.upload-pretty {
    position: relative;
    left: 0;
    top: 0;
    /*盒模型*/
    display: block;
    /*padding: 10px;*/
    overflow: hidden;
    /*文字排版*/
    /*font-size: 16px;
    color: #000000;*/
    /*视觉外观*/
    /*background: #fafafa;
    border: 1px solid #eee;
    border-radius: 5px;*/
}

.upload-pretty:hover {
    /*color: #333;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;*/
}

.upload-pretty input {
    /*定位相关*/
    position: absolute;
    top: 0;
    right: 0;
    /*文字排版*/
    /*这一点很重要,设置字体后,input宽度会变宽,否则无法充满父级div
     具体为font-size越大,越宽,一般认为100px就足矣*/
    font-size: 100px;
    /*其它*/
    opacity: 0;
    cursor: pointer;
}


/**
 * tab布局，不采用mui重新写
 */

.nav-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.nav-bar-tab {
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    -webkit-touch-callout: none;
}

.tab-item {
    display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

.nav-bar-tab .tab-item:active {
    background: #D3D3D3;
}

.nav-bar-tab .tab-icon {
    font-size: 28px;
    position: relative;
    z-index: 20;
    top: 3px;
    width: 24px;
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-bar-tab .tab-item .mui-icon~.tab-label {
    font-size: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-bar-tab .tab-item .mui-icon.rotate90 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/**
 * 立体风格按钮
 */

.button-three-dimen {
    display: block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    color: #606060;
    border: solid 1px #b7b7b7;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
    background: -moz-linear-gradient(top, #fff, #ededed);
}

.button-three-dimen:hover {
    text-decoration: none;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
    background: -moz-linear-gradient(top, #fff, #dcdcdc);
}

.button-three-dimen:active {
    position: relative;
    top: 1px;
    color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
    background: -moz-linear-gradient(top, #ededed, #fff);
}

.img-clip {
    margin-top: 100px;
}

.clip-content {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 57px;
}

.show-content {
    position: relative;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

.img-wrap {
    margin: 0 auto;
}

.choose-gallery {
    margin-top: -10px;
}

.choose-camera {
    margin-top: 50px;
}